html {
  font-family: 'Noto Sans', sans-serif;
}

header {
  font-size: larger;
  text-align: center;
}

.bold {
  font-weight: 600;
}

svg {
  width: 20px;
  padding: 10px;
}

nav li {
  flex: 1;
}

nav ul {
  border: 1px solid black;
  display: flex;
  list-style: none;
  padding: unset;
}

nav ul a {
  border: 1px solid black;
  color: inherit;
  display: block;
  font-size: small;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: UPPERCASE;
}

nav ul a:hover {
  background: azure;
}

.recipes {
  list-style: none;
  padding-inline-start: 0px;
}

.social-media {
  display: flex;
}
