html {
  font-family: 'Noto Sans', sans-serif;
}

header {
  font-size: larger;
  text-align: center;
}

body {
  margin: 1em;
}

@media screen and (min-width: 16em) and (max-width: 25em) {
  article {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .social-media {
    display: flex;
    justify-content: center;
  }

  nav ul li {
    padding: 1px;
  }

  nav ul a {
    border: solid 2px black;
  }
}

@media screen and (min-width: 25em) {
  article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
    text-align: start;
  }

  aside {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }

  nav ul {
    display: flex;
    border: 1px solid black;
  }

  nav ul a {
    border: 1px solid black;
    display: unset;
  }

  .social-media {
    display: flex;
    justify-content: start;
  }
}

.bold {
  font-weight: 600;
}

svg {
  width: 20px;
  padding: 5px;
}

nav li {
  flex: 1;
}

nav ul {
  list-style: none;
  padding: unset;
}

nav ul a {
  color: inherit;
  display: block;
  font-size: small;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: UPPERCASE;
}

nav ul a:hover {
  background: azure;
}

.recipes {
  & ul {
    list-style: none;
    padding-left: 2em;
    text-align: start;
  }

  & ol {
    text-align: start;
  }
}
